<table class='table'>
  <tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr id = "a">
    <th>follows</th>
    <th class='follows-count'><%= link_to user.followings.count, user_followings_path(user) %></th>
  </tr>
  <tr class='followers-count'>
    <%= render 'follows/followers-count', user: user %>
  </tr>
</table>

<p id="user_<%= user.id %>">
    <%= render 'follows/follow-btn', user: user %>
</p>

<div class='row'>
  <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
</div>